.wrapper {
  min-width: 320px;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--content-padding-vertical) var(--content-padding-horizontal);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
