.advantages__top,
.advantages__bottom {
  background: var(--color-dark-gray);
  padding: 48px 0;
  position: relative;
}
.advantages__bottom {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(6, 188, 224, 1) 100%
  );
  text-align: right;
}
.advantages__top h2,
.advantages__bottom h2 {
  margin-bottom: 36px;
}
.advantages__top .subtitle,
.advantages__bottom .subtitle {
  color: #fff;
  width: 85%;
}
.advantages__bottom .subtitle {
  width: 100%;
}

.cool-tile {
  background: var(--color-dark-gray);
  border: 5px solid #fff;
  height: 120px;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 115px);
  width: 230px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 700ms;
}
.cool-tile--title {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.cool-tile--text {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 10 24px;
}

@media screen and (min-width: 768px) {
  .advantages__top,
  .advantages__bottom {
    height: 400px;
  }
  .cool-tile {
    left: var(--content-padding-horizontal);
  }
}
