/* CSS Variables */
:root {
  --header-height: 60px;
}

/* Light reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

/* Custom CSS */
.header {
  background-color: #383737;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.nav-items {
  display: flex;
  align-items: center;
  height: var(--header-height);
}
.nav-items > li {
  color: #fff;
  margin-right: 24px;
}
.dropdown {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: var(--header-height);
  left: 0;
}
.dropdown-content--item {
  background-color: #03a9f4;
  padding: 16px;
  width: 120px;
}

/* Change the bg of the item on hover */
.dropdown-content--item:hover {
  background-color: dodgerblue;
}

/* Have the dropdown appear on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
